<div style="border: #ffd861c7 2px solid;margin-top: 1em;margin-bottom: 1em;padding-top: 1em;padding-bottom: 1em;background-color: #dcff6142; border-left-width: 5px !important;">
    <p style="margin-left: 1em;margin-right: 1em;margin-bottom: 0;text-align:justify;"><strong>Cette section doit être actualisée :</strong> elle peut évoquer des faits désormais passés ou révolus.</p>
    <p style="margin-left: 1em;margin-right: 1em;text-align: end;margin-bottom: 0;"><em>Section mise à jour pour la dernière fois le {{ page.updated | date(format='%d/%m/%Y') }}.</em><p>
</div>