---
import OpenDoorsAside from "../components/OpenDoorsAside.astro";
import Promotion from "../components/Promotion.astro";
import QuickLinkAside from "../components/QuickLinkAside.astro";
import BasePage from "../layouts/BasePage.astro";
import { createThreeVariantArt, getAllPromotions } from "../lib/Promotion";

const promotions = await getAllPromotions();
---

<BasePage>
	<main class="container">
		<section id="abstract">
			<p>
				Le lycée Saint-Louis au coeur du Quartier Latin est le seul
				lycée en France dédié uniquement aux Classes Préparatoires aux
				Grandes Écoles.
				<br />Grâce à son équipe pédagogique de qualité et à des
				khôlleurs expérimentés, le lycée saura vous offrir une
				préparation optimale pour les concours.
			</p>
			<p>
				<a
					href="https://prepas.org/index.php?rubrique=76"
					target="_blank"
					rel="noopener"
					>La filière MP2I (Mathématiques Physique Informatique et
					Ingénierie)</a
				>, lancée à la rentrée 2021, est une formation innovante qui
				allie les mathématiques, la physique, l'informatique et
				l'ingénierie pour répondre aux besoins toujours plus présents
				d'ingénieurs polyvalents avec une solide formation scientifique
				et une aisance en informatique.
			</p>
			<p>
				Ouverte au lycée Saint Louis dès la rentrée 2021, c'est une
				formation exigeante qui vous préparera aux <a
					href="https://ens.fr/"
					target="_blank">Écoles Normales</a
				> ainsi qu'aux plus grandes écoles d'ingénieurs françaises, telles
				que l'<a href="https://www.polytechnique.edu/" target="_blank"
					>École Polytechnique</a
				>, <a href="https://www.centralesupelec.fr/" target="_blank"
					>CentraleSupélec</a
				>, <a href="https://telecom.paris/" target="_blank"
					>Télécom Paris</a
				>, l'<a href="https://ensimag.grenoble-inp.fr/" target="_blank"
					>Ensimag</a
				> etc.
			</p>
		</section>
		<QuickLinkAside />
		<OpenDoorsAside />
		<section class="promotion-display" id="promotions-mp2i">
			<h2>Nos promotions</h2>
			{promotions.toReversed().map((promo) => <Promotion {...promo} />)}
		</section>
	</main>
</BasePage>
