.promotion {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;

}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 1rem 0 0;
}

.timeline-dot {
    width: 1rem;
    height: 1rem;
    border: 0.25rem solid var(--color-primary);
    border-radius: 99999px;
    background-color: white;
    margin: 0.1rem 0 0 0;
    padding: 0;
}

.timeline-bar {
    width: 0.25rem;
    margin-top: 1rem;
    border: 0px solid var(--color-primary);
    border-radius: 99999px;
    background-color: var(--color-primary);

    flex: 1;
}

.promotion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;


    margin: 0 0 1.5rem 0;
}

.promotion-content h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-primary);
}

.promotion-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--color-primary);
}

.promotion-content p {
    font-size: 1.10rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: black;
}

.promotion-content .gallery {
    margin: 1.5rem 0 1.5rem 0;
    background: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary);
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    overflow-x: scroll;

    width: calc(100vw - 7rem);
}

@media screen and (min-width: 800px) {
    .promotion-content .gallery {
        max-width: calc(800px - 4rem);
    }
}

.gallery img {
    height: calc(min(60vh, 60vw, 256px));
    min-width: 1rem;
    object-fit: fill;

    background-color: gray;

    margin: 0.25rem;

    border-radius: 0.5rem;

    flex-shrink: 0;
}