---

---

<header>
    <picture>
        <source
            media="(min-width: 1024px)"
            srcset="/assets/images/saint_louis_1308.webp, /assets/images/saint_louis_1308.avif"
        />
        <source
            media="(max-width: 1024px)"
            srcset="/assets/images/saint_louis_1308_1024.webp, /assets/images/saint_louis_1308_1024.avif, /assets/images/saint_louis_1308_1024.jpg"
        />
        <img
            src="/assets/images/saint_louis_1308.jpg"
            alt="Lycée Saint Louis - 1308"
        />
    </picture>
    <div id="header-text">
        <div class="wider-container">
            <p>MP2I</p>
            <p>Lycée Saint Louis</p>
            <div id="header-trail"></div>
        </div>
    </div>
</header>
